.signup {
  display: flex;

  margin-top: 8%;
  align-items: center;
  justify-content: center;
}

.signup-logo {
  margin-right: 100px;
  height: 300px;
}

.signup-form h3 {
  font-size: 15px;
  color: #99a4c1;
}
.signup-form label {
  font-size: 22px;
}
.signup-form input {
  font-size: 25px;
  margin-bottom: 10px;
}

.signup-form .btn {
  /* padding: 25px; */
  margin-top: 10px;
  font-size: 20px;
  background: #ff652f;
  color: white;
}

.autoCompleteText {
  border: 1px solid grey;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
}

.autoCompleteText input {
  border: 1px solid grey;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
  /* width: 100%;
  border: none; */
}

.autoCompleteText ul {
  list-style-type: none;
  text-align: left;
}
